:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  color: white;
  padding: 20px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu li {
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  color: #d8b4fe;
}

/* HERO */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
}

.content {
  max-width: 500px;
}

.content h2 {
  font-size: 55px;
  margin-bottom: 25px;
}

.content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

button {
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #4f46e5;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #ede9fe;
}

.image img {
  width: 350px;
  max-width: 100%;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .menu {
    display: none;
  }

  .content h2 {
    font-size: 40px;
  }
}
.auth-buttons{
  display: flex;
  gap: 10px;
}

.login-btn{
  background: white;
  color: #6d28d9;
  border: 2px solid #6d28d9;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
}

.login-btn:hover{
  background: #6d28d9;
  color: white;
}

.register-btn{
  background: linear-gradient(to right, #3b82f6, #9333ea);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
}

.register-btn:hover{
  opacity: .9;
}